@model WearShop.Models.Error.CustomErrorViewModel

@{
    ViewData["Title"] = "ошибочка...";
}

<div class="col-12 d-flex justify-content-center">
    <p>Похоже у нас произошла маленькая ошибка: @Model.Message</p>
</div>